/*
 * position
 * box model
 * visual
 * typography
 * misc
 */

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.base {
  @include flex-center;
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
}

.login {
  width: 400px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;

  .head {
    @include flex-center;
    margin: 40px 0px;
    font-size: 40px;
  }

  .form {
    .content {
      @include flex-center;
      flex-direction: column;
      padding: 0px 40px;

      .user-info {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        background-color: #fafafa;
        box-sizing: border-box;
        text-indent: 10px;
        font-size: 16px;
      }

      .user-info:focus {
        outline: none;
      }

      .send-info {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 3px;
        background-color: #0695f6;
        opacity: 50%;
        margin-top: 20px;
        font-size: 16px;
        color: #ffffff;
      }
    }

    .find-password {
      margin-top: 100px;
      margin-bottom: 20px;
      color: #497095;
    }
  }
}
