/*
 * position
 * box model
 * visual
 * typography
 * misc
 */

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed {
  width: 500px;
  margin: 50px 0px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;

  .head {
    @include flex-center;
    justify-content: space-between;
    padding: 10px;

    .control {
      content: url("../../assets/images/control-24x24.png");
    }
  }

  .created-at {
    padding: 0px 10px;
    color: #a2a2a2;
  }

  .form {
    @include flex-center;
    padding: 15px 10px;

    .comment {
      width: 100%;
      border: none;
      box-sizing: border-box;
      font-size: 16px;
    }

    .comment:focus {
      outline: none;
    }

    .send-comment {
      border: none;
      background-color: #ffffff;
      white-space: nowrap;
      color: #0695f6;
    }
  }
}
