/*
 * position
 * box model
 * visual
 * typography
 * misc
 */

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed {
  width: 500px;
  margin: 50px 0px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;

  .feed-header {
    @include flex-center;
    justify-content: space-between;
    padding: 10px;

    .feed-header__control {
      content: url("../../assets/images/control-24x24.png");
    }
  }

  .feed-created-time {
    padding: 0px 10px;
    color: #a2a2a2;
  }

  .feed-comment-form {
    @include flex-center;
    padding: 10px;

    .feed-comment-form__input {
      width: 100%;
      border: none;
      box-sizing: border-box;
    }

    .feed-comment-form__input:focus {
      outline: none;
    }

    .feed-comment-form__button {
      border: none;
      background-color: #ffffff;
      white-space: nowrap;
      color: #0695f6;
    }
  }
}
