/*
 * position
 * box model
 * visual
 * typography
 * misc
 */

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  @include flex-center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 30px;
}
